body {
    background-color: var(--white);
}

.post {
    margin: 128px 0;
}

.meta .date {
    color: var(--grey);
    font-weight: 600;
}

.meta .title {
    font-size: 48px;
    margin-top: 16px;
}

.content p, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .meta .date, .content figure, .divider, .container, hr, .meta .title, .content blockquote, .content table, .content video, .content ul, .content ol, .about {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.content .highlight {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--body-bg);
    border-radius: 4px;
    max-width: calc(800px - 16px * 2);
}

@media screen and (max-width: 800px) {
    .content .highlight {
        border-radius: 0;
    }
}

.content .highlight .gutter {
    padding-right: 16px;
}


/* ------------------------- table ------------------------------- */

/* .content table, .content video {
    display: block;
} */

.content table{
    width: 100%;
    /* position: center; */
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
.content table th, .content table tr, .content table td{
    text-align: center;
    padding: 5pt;
}
.content tbody tr:nth-child(odd){
    background-color: var(--white-1);
}


/* 对代码table的兼容 */
td.code {
    text-align: left !important;
}
figure table{
    display: block !important;
}
figure table tr{
    background-color: #fbfbfd !important;
}




/* ----------------------------- end table -------------------------------- */

.content video {
    max-width: 100%;
    padding: 0;
}

.content ul, .content ol {
    padding: 10px;
    padding-left: 50px;
    max-width: calc(800px - 16px * 2);
}

.content ul li {
    padding: 4px;
}
/* .content ul *, .content ol * {
    padding: 5;
} */

.content blockquote {
    max-width: calc(800px - 16px * 2);
    padding: 0 8px;
}

.about {
    border-radius: 7px;
    background-color: var(--body-bg);
    padding: 16px;
    margin: 64px auto;
}

.about h1 {
    margin: 0;
}