.divider, hr {
    border: none;
    border-top: 1px solid var(--white-1);
    margin: 32px auto;
}

.divider {
    margin: 64px auto;
}

img {
    width: 100%;
    margin: 0 auto;
}

::marker {
    color: var(--black-4);
}

blockquote {
    border-left: 4px solid var(--white-2);
}

pre, code {
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

pre {
    font-size: 14px;
}

.gutter pre{
    border-right-style: solid;
    border-right-color: gray;
    border-right-width: 0.1pt;
    padding-right: 3pt;
}

code {
    font-size: 14px;
    background-color: var(--white-1);
    padding: 2px 4px;
    border-radius: 4px;
}